.search,
.search-result {
    width: 500px;
}

.search-title {
    padding: 5px 12px;
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 20px;
}

.search {
    position: relative;
    width: 500px;
    height: var(--search-height);
    background-color: #f1f1f2;
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        font-size: 1.6rem;
        line-height: 22px;
        background-color: transparent;
        color: var(--black);
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 1);
    }

    &::after {
        content: '';
        position: absolute;
        height: calc(var(--search-height) - 18px);
        width: 1px;
        top: 9px;
        right: var(--search-btn-width);
        background-color: rgba(22, 24, 35, 0.34);
    }
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
    }
    &:hover .search-btn {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.06);
        color: rgba(22, 24, 35, 1);
    }
}
.clear,
.loading {
    position: absolute;
    right: calc(var(--search-btn-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: var(--search-btn-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.34);
    &:hover {
        cursor: pointer;
    }
    &:active {
        background-color: #f1f1f2;
    }
}
