@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --primary: #ff3b5c;
    --black: rgba(22, 24, 35, 1);
    --white: #fff;
    --text-color: rgba(22, 24, 35, 1);
    --padding: 0 24px 0 24px;
    --default-layout-header-height: 60px;
    --font-family: 'IBM Plex Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;
}

// Scroll bars
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.7rem;
        line-height: 1rem;
        background-color: rgba(84, 84, 84, 0.92);
        color: rgb(255, 255, 255);
        padding: 8px 0;
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
}
