.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-btn-width: 52px;
    height: var(--default-layout-header-height);
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    width: 100%;
}

.inner {
    width: 100%;
    height: 100%;
    //background-color: rgba(22, 24, 35, 0.06);
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
}

// Action
.action {
    display: flex;
    align-items: center;
    justify-content: center;
}
.action-btn {
    width: 32px;
    height: 32px;
    font-size: 2.4rem;
    margin: 0 0 0 16px;
    background: none;
    &:hover {
        cursor: pointer;
    }
}
.notice-btn {
    position: relative;
    &::after {
        content: '4';
        position: absolute;
        font-size: 1.4rem;
        color: #fff;
        top: -6px;
        right: -5px;
        min-width: 20px;
        min-height: 20px;
        border-radius: 50%;
        background-color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
    }
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 0 0 16px;
    object-fit: cover;
    &:hover {
        cursor: pointer;
    }
}

.more-btn {
    font-size: 1.6rem;
    background-color: transparent;
    margin-left: 24px;
    padding: 4px 8px;
    cursor: pointer;
}
